<h1>INDEX PAGE!!</h1>

<% blogs.forEach((blog) => { %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <span><%= blog.date %></span>
        <p><%= blog.body %></p>
    </div>
<% }) %>